.background {
    background-image: url('../images/anil-kumar-SXigdcQPbd8-unsplash\ \(1\).jpg');
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
  }