.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 4s 1s ;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color:  #f3a8a800;
    }

}

.text-animate-about {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s ;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate-about-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #8d8d8d80;
    }

}

.text-animate-portfolio {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s ;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate-portfolio-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #8d8d8d80;
    }

}


